body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

li.nav{
    background-color: transparent;
    list-style: none;
    display: flex;
    border: none;
    width: 180px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

main {
    margin: 20px;
    text-align: left;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex; 
    flex-wrap: wrap; 
}

li {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

li h3 {
    font-size: 18px;
}

li p {
    font-size: 16px;
}

button.claim-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.claim-button:hover {
    background-color: #0056b3;
}

#claim-form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

form {
    text-align: left;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}       

button#submit-claim {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button#submit-claim:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
