body{
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('navbar.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 30px;
}

h1{
    margin-left: 100px;
}

.Foto-profile {
    border-radius: 50%;
    width: 150px; 
    height: auto; 
    display: block;
    margin: 0 auto;
  }

table{
    margin: 0 auto;
}
  

